.header {
    height: 100px;
    width: 100%;
}

.mainContrainer {
    padding: 0 50px;
    max-width: 1820px;
    margin: 0 auto;
}

.dashboardContrainer{
    padding: 0 90px;
    max-width: 1820px;
    margin: 0 auto;
}

.assistContrainer{
    padding: 0 200px;
    max-width: 1820px;
    margin: 0 auto;
}

.rounded-button {
    border-radius: 24px;
}

.bg-red-site {
    background-color: #E20016;
}

.text-red-site {
    color: #E20016;
}

.border-red-site {
    border: 2px solid #E20016;
}

.text-roadmap {
    color: #01008A;
}
.pt-273p{
    padding-top: 223px;
}

.text-7-5xl{
    font-size: 5rem;
    line-height: 114px;
}

.feature-box {
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.05), 2px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 45px;
}

.featureBox {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80px;
    margin: 0 auto;
}

.radius45 {
    border-radius: 45px;
}

.roadmapBox {
    width: 100%;
    height: 190px;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.05), 2px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 45px;
    padding: 32px;
}

.mt-52 {
    margin-top: 13rem;
}

.mt-18 {
    margin-top: 4.5rem;
}

.mt-38 {
    margin-top: 9.5rem;
}

.mt-42 {
    margin-top: 10.5rem;
}

.roadmap {
    height: 88rem;
}